language: node_js
node_js:
  - '10'

before_script:
  - npm install

script:
  - NODE_ENV=production ./node_modules/.bin/gulp
  - mkdir -p ./build
  - cd ./dist && tar -czf ../build/shinage-static-player.tar.gz player.html

deploy:
  - provider: releases
    api_key:
      secure: "YA01P2FF5vHSCwcKfX+x3gmkHX1x8qqEMgjuEWjbI3UA0SAfrapLghncMr1guRPaNtZH6xzUmj4+TzhkFFgyYwVELFqz8DUj6CFHr4AV7valkwb7zemL/mXZGiB2/uzT0n7YjHbvqxIhDp19oowoNvWsGpoLWZ+NbZZc8IrzdrbqX8ARobDhkQzh7kv0JwPdndB4BklNod32Tr2XOlTdriUdpdkmMoJ2cIhD6MSIHdfoOGV6233hCF/6BiyPlyNLByZ2ULhe7clbWWFvub1WAc9qzkGBVVPui8fG3BT8Ub9DGuOF8XnBtuBHKEAW2jaej4GnKQ0RABSVBb6tJoGysIcnK8RFP1UTy5ewE6VrKtlhUPTV3BkylSfXLN9iiWTxBykuK9siiB4Tt8xBDn15+BGZK8QVsQULzmuH9zcf+TxAcj81LCfuaAntTRsJyyCf2Zc5vO2aLhN4tkjlP3Jho2geI9AE3IvpKuiB3yluAJXBICrfXfKT0irhYCYUf8QFyiV5lbXlmf7e4jeks9fzRfYHPCMbAn+EPZFv/8FPPuoOKOyZtRqzX7h85rsZA9kd7VFCksliYO2SFKNfsoc0gfBYNwsWNPtAez3Rw9T4cdJ+Hz9OXrpTlpMjCQbRQ6nkkKyJGdV6sIyAGCysVSifFATCKTGagF1n8/09kifaB3w="
    file: "./build/shinage-static-player.tar.gz"
    skip_cleanup: true
    on:
      tags: true
  - provider: pages
    local-dir: ./dist
    skip-cleanup: true
    github-token:
      secure: "YA01P2FF5vHSCwcKfX+x3gmkHX1x8qqEMgjuEWjbI3UA0SAfrapLghncMr1guRPaNtZH6xzUmj4+TzhkFFgyYwVELFqz8DUj6CFHr4AV7valkwb7zemL/mXZGiB2/uzT0n7YjHbvqxIhDp19oowoNvWsGpoLWZ+NbZZc8IrzdrbqX8ARobDhkQzh7kv0JwPdndB4BklNod32Tr2XOlTdriUdpdkmMoJ2cIhD6MSIHdfoOGV6233hCF/6BiyPlyNLByZ2ULhe7clbWWFvub1WAc9qzkGBVVPui8fG3BT8Ub9DGuOF8XnBtuBHKEAW2jaej4GnKQ0RABSVBb6tJoGysIcnK8RFP1UTy5ewE6VrKtlhUPTV3BkylSfXLN9iiWTxBykuK9siiB4Tt8xBDn15+BGZK8QVsQULzmuH9zcf+TxAcj81LCfuaAntTRsJyyCf2Zc5vO2aLhN4tkjlP3Jho2geI9AE3IvpKuiB3yluAJXBICrfXfKT0irhYCYUf8QFyiV5lbXlmf7e4jeks9fzRfYHPCMbAn+EPZFv/8FPPuoOKOyZtRqzX7h85rsZA9kd7VFCksliYO2SFKNfsoc0gfBYNwsWNPtAez3Rw9T4cdJ+Hz9OXrpTlpMjCQbRQ6nkkKyJGdV6sIyAGCysVSifFATCKTGagF1n8/09kifaB3w="
    keep-history: false
    on:
      tags: true

