name: Build
on:
  push:
    branches: ["*"]
    tags: ["*"]
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: |
          corepack enable
          yarn install --frozen-lockfile

      - name: Run production build
        run: yarn run build-prod
        env:
          NODE_ENV: production

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'

      - name: Package build
        run: |
          mkdir -p ./build &&
          cd ./dist &&
          tar -czvf ../build/shinage-static-player.tar.gz *

      - name: Upload release archive artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-archive
          path: ./build/shinage-static-player.tar.gz
          retention-days: 2

  release:
    needs: build
    runs-on: ubuntu-24.04
    if: contains(github.ref, 'refs/tags/v')

    # Sets permissions of the GITHUB_TOKEN to allow creating the release
    permissions:
      contents: write

    steps:
      - name: Download the release archive artifact
        uses: actions/download-artifact@v5
        with:
          name: release-archive

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ github.ref }}
          draft: false
          prerelease: false
          files: shinage-static-player.tar.gz

  deploy:
    needs: build
    runs-on: ubuntu-24.04
    if: contains(github.ref, 'refs/tags/v')

    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
